{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
<h1 class="textCenter firstTitle">Calendrier : </h1>
    <h3>Ici vous pourrez voir les sorties des chapitres de toutes les histoires. </h3>
    <hr>
    <main>
        <div id="calendar-holder"></div>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const calendarEl = document.getElementById('calendar-holder');
        
            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                fixedWeekCount: false, // n'affiche pas les semaines inutile
                locale: 'fr',
                buttonText: {
                    today: 'Aujourd\'hui',
                    week: 'Semaine',
                    month: 'Mois',
                    year: 'Année',
                },
                eventSources: [{
                    url: '/fcloadevents',
                    method: 'POST',
                    extraParams: {},
                    failure: function () {
                        alert('Erreur lors du chargement des événements.');
                    }
                },],
                headerToolbar: {
                    start: 'prev,next',
                    center: 'title',
                    end: 'today,dayGridWeek,dayGridMonth,multiMonthYear'
                },
                timeZone: 'Europe/Paris',
            });
            calendar.render();
        });
    </script>
{% endblock %}