{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
<h1 class="textCenter firstTitle">Calendrier : </h1>

    {# ceci est pour ma navbar#}
    {% set counter = 1 %}
    <nav id="" class="flex flexDirectionRow">
        <a href="">Hebdomadiare</a>
        <a href="">Mensuel</a>
        <a href="">Annuel</a>
    </nav>
    <hr>
{% endblock %}