{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
<h1 class="textCenter firstTitle">Calendrier : </h1>

    {# ceci est pour ma navbar#}
    {% set counter = 1 %}
    <nav id="" class="flex flexDirectionRowv justifyContent width100">
        <a href="">Hebdomadiare</a>
        <a href="">Mensuel</a>
        <a href=""><b>Annuel</b></a>
    </nav>
    <hr>
    <main>
        <form action="">
            
        </form>
    </main>
{% endblock %}