{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
<h1 class="textCenter firstTitle">Calendrier : </h1>

    {# ceci est pour ma navbar#}
    <h3>Ici vous pourrez voir les sorties des chapitres de toutes les histoires. </h3>
    <hr>
    <main>
        <div id="calendar-holder"></div>
    </main>
{% endblock %}