{% extends 'base.html.twig' %}

{% block title %}
    Liste des utilisateurs
{% endblock %}

{% block body %}
<table>
    <thead>
            <tr>
                <th>Pseudo</th>
                <th colspan="4">Roles</th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th>User</th>
                <th>Moderateur</th>
                <th>Admin</th>
                <th>Auteur</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.pseudo}}</td>
                    <td>
                        {% if 'ROLE_USER' in user.roles %}
                            X
                        {% endif %}
                    </td>
                    <td>
                        {% if 'ROLE_MODERATOR' in user.roles %}
                            X
                        {% endif %}
                    </td>
                    <td>
                        {% if 'ROLE_ADMIN' in user.roles %}
                            X
                        {% endif %}
                    </td>
                    <td>
                        {% if 'ROLE_AUTHOR' in user.roles %}
                            X
                        {% endif %}
                    </td>
                    <td>{% if user.id !=1 %}
                        <a href="{{ path('change_role_user', {'user':user.id, 'role':'ROLE_ADMIN'}) }}">Changer le role Admin</a>
                    {% endif %}</td> 
                    <td>{% if user.id !=1 %}
                        <a href="{{ path('change_role_user', {'user':user.id, 'role':'ROLE_AUTHOR'}) }}">Changer le role Autheur</a>
                    {% endif %}</td> 
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}