{% extends 'base.html.twig' %}

{% block title %}
    Profil
{% endblock %}

{% block body %}
    <h1>Profil de sécurité</h1>

    <div class="profile-container">
        <p>Bienvenue sur votre page de profil de sécurité.</p>
        <!-- Ajoutez ici les informations ou fonctionnalités nécessaires -->
    </div>
{% endblock %}