{% extends 'base.html.twig' %}

{% block title %}
    Profil
{% endblock %}

{% block body %}
    <section id="profil">
        <div >
            <img src="img/avatar_base.png" alt="image avatar" id="bigAvatar">
            <img src="img/avatar_base.png" alt="image avatar" id="littleAvatar">
            
        </div>
        <nav>
            <a href="">Mes informations</a>
            <a href="">|</a>
            <a href="">Mes abonnements</a>
            <a href="">|</a>
            <a href="">Ma blibliothèque</a>
            <a href="">|</a>
            <a href="">Mes histoires</a>
        </nav>
        <section class="leftContainer">
            <a href="#hehe">lien hehe</a>
        </section>
        <div id="hehe">
            <p>yup</p>
            <a href="">ccccc</a>
        </div>
    </section>
{% endblock %}