{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <section id="home" class="textCenter">
        <video autoplay muted loop playsinline id="bg-video">
        <source src="{{ asset('videos/radio.mp4') }}" type="video/mp4">
            Votre navigateur ne supporte pas la lecture vidéo.
        </video>
        <div class="content">
            <h1 class="textCenter">Publiez et lisez des histoires sur <span class="textPurple titleHome">Plumédia</span>.</h1>
            <h2 class="textCenter">Améliorer votre écriture en postant vos histoires.</h2>
                <br><br>
            <a class="backgroundPurple bouton textBlack" href="{{path('show_home')}}">Lire maintenant </a>
            <br><br>
            
        </div>
    </section>
    <section id="bento">
        <p>Ici j'aurai mon bento</p>
    </section>
    <section id="parallax">

    </section>
    <p>Comment utiliser et se repérer dans le site?</p>
    <div class="newsletter">
        <h2>Subscribe to Our Newsletter</h2>
        <div class="newsletter-form">
            <input class="newsletter-input" placeholder="Email here" />
            <button class="newsletter-btn">Submit</button>
        </div>
    </div>
{% endblock %}
