{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <section id="home" class="textCenter">
    <h1 class="textCenter">Publiez et lisez des histoires sur <span class="textPurple">Plumédia</span>.</h1>
    <h2 class="textCenter">Améliorer votre écriture en postant vos histoires.</h2>
        <br><br>
    <a class="backgroundPurple bouton textBlack" href="{{path('show_home')}}">Lire maintenant </a>
    <br><br>
    <p>Comment utiliser et se repérer dans le site?</p>
    </section>
{% endblock %}
