{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section id="home">
    <h1>Publiez et lisez des histoires sur <span class="textPurple">Plumédia</span>.</h1>
    <h3>Améliorer votre écriture en postant vos histoires.</h3>
    
    <button><a href="">Lire maintenant </a></button>
    <p>Comment utiliser et se repérer dans le site?</p>
</section>
{% if app.user %}
{% endif %}

{% endblock %}
