{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1>Publiez et lisez des histoires sur Plumédia.</h1>
<h3>Améliorer votre écriture en postant vos histoires.</h3>

<a href="">Lire maintenant </a>

<p>Comment utiliser et se repérer dans le site?</p>

{% endblock %}
