{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation du mot de passe envoyé{% endblock %}

{% block body %}
    <p>
        Si l'email est lier à un compte existant, alors l'email sera envoyé avec le lien pour la réinitialisation.
        Le lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas le mail, verifier dans les Spams. Sinon <a href="{{ path('app_forgot_password_request') }}">renvoyer un email</a>.</p>
{% endblock %}
