{% extends 'base.html.twig' %}

{% block title %}Créer une histoire{% endblock %}

{% block body %}
    <h1>Créer une histoire :</h1>

    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
