{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <section id="categories" class="width100">
        <h1 class="textCenter">Catégories</h1>

        <main class="flex flexDirectionRow">
            <div class="left backgroundGrey flex flexDirectionCollumn">
            <a href="" class="textBlack">Tous</a>
            {% for category in categories %}
                {% if category.name != "FAQ" %}
                <a href="{{path('category', {'id': category.id})}}"class="textBlack">{{category.name}} </a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="right">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe debitis eius minus, labore ullam atque earum magni blanditiis adipisci maxime distinctio iure neque hic at omnis eligendi magnam provident.
            Praesentium perferendis aliquid consectetur magni placeat eos voluptatibus illo, ut sed accusantium aliquam magnam qui consequatur, deserunt dolores facere porro dolorum sapiente itaque rerum dolor. Itaque hic omnis veniam exercitationem!</p>
        </div>
        </main>
    </section>
{% endblock %}
