*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --myPink: #f7e7ed;
    --myPurple: #dcd8f3;
    --myGrey: #f3f2f2; 
    --myWhite: #fefefe;

}
/* pour les couleurs de textes*/
.textPurple{color: var(--myPurple);}
.textPink{color: var(--myPink);}
.textGrey{color: var(--myGrey);}
.textBlack{color: black;}
/* couleur de fonds */
.backgroundPink{background-color: var(--myPink);}
.backgroundGrey{background-color: var(--myGrey);}
.backgroundWhite{background-color: var(--myWhite);}
.backgroundPurple{background-color: var(--myPurple);}
/* display principaux */
.flex{display: flex;}
.alignCenter{align-items: center;}
.flexDirectionRow{flex-direction: row;}
.flexDirectionCollumn{flex-direction: column;}
.justifyContent {justify-content: space-around;}
/* petit css */
.textCenter{text-align: center;}
.width100, .summary{width: 100%;}
.noBorder, #profil .rightContainer input{border: none;}
.larger{font-size: larger;}
.follows, .follow, #registerContainer .left, #registerContainer .right, #loginContainer .right, #loginContainer .left{ width: 50%;}
.ConnectContainer, #home h1, #home h3 {margin: 10px auto;}
.ConnectContainer, #profil .stories, #profil .rightContainer, .categories .right {width: 80%;}
a{
    display: inline-block; 
    text-decoration: none;
    height: fit-content;
}
header nav{
    height: 50px;
    justify-content: space-around;
    .logoSite {height: 90%;}
}
/* ceci est pour les boutons */
.bouton{
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 8px 8px var(--myPurple);
}
/* ceci est pour les liens qui ne seront pas des boutons */
.linkBtn {font-size: large;}
/* gère la page d'inscription et de connexion */
.ConnectContainer{
    .left, .right {padding: 10px;}
}
#registerContainer .right {border-radius: 0 15% 15% 0 ;}
#loginContainer .left {border-radius:  15% 0 0 15%;}
/* ceci est pour la page d'acceuil */
#home h1,#home h3{
    width: 20%;
    font-size: xx-large;
}
#bigAvatar, .story {position: relative;}
#littleAvatar, .summary {position: absolute;}
#infos, #lessFifteen, #modifierMdp, input, button, .details {margin: 15px;}
/* ceci est pour la page de profil d'un utilisateur */
#profil{
    #bigAvatar{
        height: 35vh;
        object-position: center;
        object-fit: cover;
        overflow: hidden;
    }
    #littleAvatar{
        width: 200px;
        height: 200px;
        top: 100px; left: 50px;
        border-radius: 100%;
        box-shadow: 4px 2px var(--myPurple);
    }
    main{
        .leftContainer{
            width: 20%;
            a {line-height: 35px;}
        }
        .rightContainer{
            #infos, #lessFifteen, #modifierMdp{
                border-radius: 10px;
                padding: 10px;
                h3 {margin-left: 70px ;}
                input{
                    border-radius: 10px;
                    padding: 5px 10px;
                }
                .submit {margin: 0 45% 10px 45%;}
                .details{
                    font-size: smaller;
                }
            }
        }
        .follows{
            .follow{
                justify-content: center;
            }
            .otherAvatar{
                    width: 30%;
                    height: 30%;
                    border-radius: 50%;
            }
        }
    }
}
/* ceci est pour la page de toutes les categories */
.categories{
    h1 {margin: 15px 0 ;}
    main{
        .left{
            width: 20%;
            a {margin: 3px auto;}
        }
    }
}
/* c'est pour la page de description d'une histoire */
#detailStory{
    h1 {margin: 10px 5px;}
    main{
        text-align: justify;
        .cover{
            margin: 30px 5px 0 5px;
            width: 25%;
            height: fit-content;
            border-radius: 5px;
        }
        .right{
            width: 75%;
            padding: 0 10px;
            nav{
                border-bottom: dashed;
                justify-content: space-around;
            }
            p {margin: 5px 0;}
        }
    }
}

.stories, .story p{margin: 0 auto;}
.stories{
    flex-wrap: wrap;
    justify-content: center;
    .story{
        width: 200px;
        height: 400px;
        margin: 15px;
        img{
            height: 75%;
            border-radius: 5%;
        }
        .summary {
            left: 0; top: 0;
            height: 75%;
            overflow: hidden;
            opacity: 0;
            z-index: 10;
        }
    }
    .story:hover .summary{opacity: 0.4; }
}
.toggle-password-button{top: 0px !important; right: 100px !important;}
.alert-sucess{color:green;}
.alert-error{color:red;}
.alert-warning{color:orangered;}
#gallery-wrap{width: 100%;}
.gallery{
    width:1500px;
    overflow-x: scroll;
}
.gallery div{
    width: 100%;
    grid-template-columns: auto auto auto;
    padding: 10px;
    flex: none;
}
.gallery div i {width: 100%;}
.gallery::-webkit-scrollbar {display: none;}

.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

#backBtn, #nextBtn {cursor: pointer;}
.populars, .popular .right{padding: 10px;}
.popular{
    img{width: 15%;}
    .right{width: 85%;}
}