*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --myBrown: #eae0d5;
    --myGold: #b58e4f;
    --myGrey: #a89f94; 
    --myWhite: #f4f1eb;
}
.wrapper{min-height: 55vh; margin-bottom: 150px; height: fit-content;}
/* Pour les titres */
h1, h2, h3 {font-family: 'Playfair Display', serif;}
/* Pour le texte courant */
body, p, li, a, pre {
  font-family: 'Merriweather', serif;
  color: #3b2f2f;
}
#burger-menu{display: none;}
/* pour les couleurs de textes*/
.textGold{color: var(--myGold);}
.textPink{color: var(--myBrown);}
.textGrey{color: var(--myGrey);}
.textWhite{color: var(--myWhite);}
.textRed{color: red;}
.textGreen{color: green;}

/* couleur de fonds */
.backgroundBrown{background-color: var(--myBrown);}
.backgroundGrey{background-color: var(--myGrey);}
.backgroundWhite{background-color: var(--myWhite);}
.backgroundGold{background-color: var(--myGold);}

/* gestion des messages d'alertes */
.alert{height: 100px; font-size: xx-large;}
.alert-sucess{background-color:green;}
.alert-warning{background-color:orangered;}
.alert-error{background-color:red;}

/* display principaux */
.flex{display: flex;}
.alignCenter{align-items: center;}
.flexDirectionRow{flex-direction: row;}
.flexDirectionCollumn{flex-direction: column;}
.justifyContent {justify-content: space-around;}
.justifyContentBetween {justify-content: space-between;}

/* boutons */
.boutonWhite:hover{color: var(--myGold); background-color: #3b2f2f;}
.boutonGold:hover{color: var(--myWhite); background-color: #3b2f2f;}

/* petit css */
.textCenter{text-align: center;}
.marginAutoHeight{margin: auto 0;}
.marginAutoWidth{margin: 0 auto;}
.width100, .summary{width: 100%;}
.noBorder, #profil .rightContainer input{border: none;}
.larger{font-size: larger;}
.width50{width: 50%;}
#home h1, #home h2, #parallax h3 {margin: 10px auto;}
#profil .stories, #profil .rightContainer, .categories .right, .width80 {width: 80%;}
.width20{width: 20%;}
.firstTitle{margin: 5px 0 40px 0;}
.secondTitle{font-size: 800;}
.opacity50{opacity: 80%;}
.smallSize{font-size: small;}
.textarea{height: 150px;}
.title3{
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: bold;
}
.title2{
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
}

/* pour les couleurs de textes*/
.textPurple{color: var(--myGold);}
.textPink{color: var(--myBrown);}
.textGrey{color: var(--myGrey);}
/* couleur de fonds */
.backgroundBrown{background-color: var(--myBrown);}
.backgroundGrey{background-color: var(--myGrey);}
.backgroundWhite{background-color: var(--myWhite);}
.backgroundPurple{background-color: var(--myGold);}
a{
    padding: 5px 10px;
    border-radius: 10px;
}
.coverBook{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
}
.story:hover{scale: 1.1; transition: ease-in-out 0.2s;}
.story:hover .summary:hover{opacity: 0.8; }
.summary{font-size: small; padding: 10% 5%; text-overflow: ellipsis; }
.summary {
    display: -webkit-box; /* Specify that we want to use webkit-box */
    -webkit-box-orient: vertical; /* Indicate the text direction */
    -webkit-line-clamp: 14; /* Set the desired number of lines */
    overflow: hidden;
    left: 0; top: 0;
    height: 52%;
    opacity: 0;
    z-index: 10;word-wrap: break-word;
}

.cover{
    margin: 30px 5px 0 5px;
    width: 25%;
    height: fit-content;
    border-radius: 5px;
}
/* gère la page d'inscription et de connexion */
#registerContainer .right, #loginContainer .right {border-radius: 0 15% 15% 0;}
#loginContainer .left, #registerContainer .left {border-radius: 15% 0 0 15%;}

#registerContainer .left, #loginContainer .right{ border: 1px solid rgb(247, 247, 247); padding: 0 50px ;}
.containerGold{padding: 150px 35px;}
.ConnectContainer{margin: 5em auto; width: 50%;}
/* c'est pour les formulaaires ou j'ai besoin d'un élément alors j'ai l'étoile rouge */
label.required:after {
    content: " * ";
    color: red;
}
a{
    display: inline-block; 
    text-decoration: none;
    height: fit-content;
}
header nav{
    height: 50px;
    justify-content: space-around;
    .logoSite {height: 50px;}
}
/* ceci est pour les liens qui ne seront pas des boutons */
.linkBtn {font-size: large;}

/* ceci est pour la page d'acceuil */
#home h1, #home h2{width: 30%;}
#home h1{font-size: 80px;}
#home h2, #parallax h3{font-size: 40px;}
#home h1,#home h2, #parallax h3{
    backdrop-filter: blur(4px);
    border-radius: 50px;

}
.titleHome{text-shadow: 2px 2px 2px #8f703d;} /* pour que le nom du site soit plus lisible*/
#bigAvatar, .story {position: relative;}
#littleAvatar, .summary {position: absolute;}
#infos, #lessFifteen, #modifierMdp, input, button, .details, .marginFifteen{margin: 15px;}
/* ceci est pour la page de profil d'un utilisateur */
#profil{
    #bigAvatar{
        height: 35vh;
        object-position: center;
        object-fit: cover;
        overflow: hidden;
    }
    #littleAvatar{
        width: 200px;
        height: 200px;
        top: 100px; left: 50px;
        border-radius: 100%;
        box-shadow: 4px 2px var(--myGold);
    }
    main{
        .leftContainer{
            a {line-height: 35px;}
        }
        .rightContainer{
            #infos, #lessFifteen, #modifierMdp{
                border-radius: 10px;
                padding: 10px;
                h3 {margin-left: 70px ;}
                input{
                    border-radius: 10px;
                    padding: 5px 10px;
                }
                .submit {margin: 0 45% 10px 45%;}
                .details{
                    font-size: smaller;
                }
            }
        }
        .follows{
            .follow{
                justify-content: center;
            }
            .otherAvatar{
                    width: 30%;
                    height: 30%;
                    border-radius: 50%;
            }
        }
    }
}
/* ceci est pour la page de toutes les categories */
.categories{
    h1 {margin: 15px 0 ;}
    main{
        .left{
            width: 20%;
            a {margin: 3px auto;}
        }
    }
}
/* c'est pour la page de description d'une histoire */
#detailStory{
    h1 {margin: 10px 5px;}
    main{
        text-align: justify;
        .right{
            width: 75%;
            padding: 0 10px;
            nav{
                border-bottom: dashed;
                justify-content: space-around;
            }
            p {margin: 5px 0;}
        }
    }
}

.stories, .story p, .populars, .popular-home{margin: 0 auto;}
.stories{
    flex-wrap: wrap;
    justify-content: center;
    .story{
        width: 200px;
        min-height: 400px;
        margin: 15px;
        
    }
    
}

#calendar-holder{
    margin: 0 auto;
    width: 80%;
    height: fit-content;}

#gallery-wrap{width: 100%;}
.gallery{
    width:1500px;
    overflow-x: scroll;
}
.gallery div{
    width: 100%;
    grid-template-columns: auto auto auto;
    padding: 10px;
    flex: none;
}
.gallery div i {width: 100%;}
.gallery::-webkit-scrollbar {display: none;}

.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

#backBtn, #nextBtn {cursor: pointer;}
.populars, .popular .right{padding: 10px;}
.popular{
    
    img{width: 20%;}
    .right{width: 80%; border-radius: 0 10% 10% 0;}
}

.populars {
    width: 70%;
}

.popular-home{width: 50%;}
.d-block{width: 33%;}

.no-active{display: none;}
.caroussel-home i {height: fit-content; margin: auto 10px;}
.chapter{
    margin: 10px;
    border-radius: 10px;
}
.leftChapter{width: 95%;}
.rightChapter{ width: 10%; margin: auto;}
.chapterText{
    width: fit-content;
    margin: 0 auto;
}

/* bouton de scroll */

#scrollToTopBtn {
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: var(--myGrey);
    color: var(--myWhite);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    /* centre verticalement et horizontalement  */
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
  
#scrollToTopBtn:hover {
background-color: var(--myGold);
transform: translateY(-5px);
}

#scrollToTopBtn.show {
display: flex;
}







/* rajouter le 12/06 */

#home {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
 
#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 0;
  object-fit: cover;
}
 
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* noir semi-transparent */
  z-index: 1;
}
 
.content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 2rem;
}

#parallax {
  height: 50vh;
  background-image: url('/img/parallax.jpg'); /* à adapter */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  h3{width: fit-content;}
}



.newsletter {padding: 30px;}
.newsletter-form {
  margin: 0 auto;
  gap: 5px;
}
.newsletter-input {
  height: 50px;
  flex: 1;
  border-radius: 10px;
  box-shadow: 6px 6px 5px var(--myBrown);
}
.newsletter-btn {
  padding: 0 20px;
  cursor: pointer;
  transition: 0.3s;
}
.footer-content {margin-bottom: 45px;}
.footer-column {
  flex: 1;
  min-width: 250px;
}
.footer-menu a { text-transform: capitalize; /* pour mettre une majuscule a chaque mot */}
.footer-copyright {padding: 30px 15px;}



#bento {
    max-width: 900px;
    width: 100%;
    margin: 15px auto;
    .parent {
        display: grid;
        /* background-color: var(--myGrey); */
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 0.5fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        &:hover {
            div[class*="div"]:not(:hover) {opacity: 0.8;}
        }
        /* ligne-début / colonne-début / ligne-fin / colonne-fin */
        .div1 {grid-area: 1 / 1 / 3 / 2;}
        .div2 {grid-area: 2 / 2 / 4 / 4;}
        .div3 {grid-area: 1 / 4 / 3 / 5;}
        .div4 {grid-area: 3 / 4 / 5 / 5;}
        .div5 {grid-area: 1 / 2 / 2 / 4;}
        .div6 {grid-area: 3 / 1 / 5 / 2;}
        .div7 {grid-area: 4 / 2 / 5 / 4;}
        div[class*="div"] {
            min-height: 190px;
            max-height: 310px;
            min-width: 170px;
            overflow: hidden;
            border-radius: 10px;
            transition: ease-in-out 0.2s;
            text-align: center;
            align-content: center;
            &:hover {
            opacity: 1;
            transform: scale(1.01);
            }
            img{
                height: 70%;
                width: 80%;
                border-radius: 10px;
                
            }
        }
    }
}
